<body class="caracteristicas">
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="title pb-2 border-bottom">Caracteristicas de nuestro servicio</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://hackaday.com/wp-content/uploads/2020/05/isp4800.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Mejor velocidad para tu empresa</h3>
            <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
            </li>
            <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Plan Pro</small>
            </li>
            <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>$420</small>
            </li>
            </ul>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://www.poftut.com/wp-content/uploads/2020/03/image-203.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Para el hogar y terrenos rurales</h3>
            <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
            </li>
            <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Plan Hogar</small>
            </li>
            <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>$69</small>
            </li>
            </ul>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://miro.medium.com/max/900/0*QkqND0zdGYC2yK6Y.jpeg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Con apoyo de reconocidas marcas</h3>
            <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
            </li>
            <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Plan Eco</small>
            </li>
            <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>$81</small>
            </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</div>
</body>