
    <body class="fondo">
        <p class="main">Bienvenido a TelefoNet</p>
        <h1>Aqui en TelefoNet ofrecemos el mejor servicio de dial-up de la Argentina <br>
        Si quiere saber por cada plan, no dude en consultar con nosotros</h1>
    </body>