    <body class="fondo">
        
    <div class="container py-3">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-left">
        <h1 class="title display-4 fw-normal">Precios</h1>
        </div>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Plan Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$420<small class="text-muted fw-light">/mes</small></h1>
                <h5>56kbps</h5>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Navegacion supersonica</li>
                <li>Descarga textos en cuestion de minutos</li>
                </ul>
                <a class="btn w-100 btn btn-lg btn-outline-primary" href="/request">Solicitar plan</a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Plan Hogar</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$69<small class="text-muted fw-light">/mes</small></h1>
                <h5>33.6kbps</h5>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Armate un mate y espera que cargue la pagina</li>
                <li>Forja la paciencia <small class="plans">o te vuelve loco</small></li>
                </ul>
                <a class="btn w-100 btn btn-lg btn-outline-primary" href="/request">Solicitar plan</a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Plan Eco</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$81<small class="text-muted fw-light">/mes</small></h1>
                <h5>28.8kbps</h5>
                <ul class="list-unstyled mt-3 mb-4">
                <li>Navegacion economica pero fiable</li>
                <li>Velocidad limitada, pero corre lo mas bien</li>
                </ul>
                <a class="btn w-100 btn btn-lg btn-outline-primary" href="/request">Solicitar plan</a>
            </div>
            </div>
        </div>
        </div>

        <p class="remark display-6 text-center mb-4">En cualquier caso, para evitar discordias, no utilice su telefono fijo mientras se deleita navegando con nuestros suculentos planes de internet</p>

    </main>
    </div>

    </body>