
<body class="fondo">
    <div class="container">
        <div class="text-center m-5">
    <hr>
    <h1 class="clientes">
        Pedidos
    </h1>
    <hr>
</div>

<div class="row">
<form action="/request" method="post">
    <div class="mb-3 row">
        <label for="nombre" class="col-sm-5 col-form-label text-white">Nombre: </label>
    <div class="col-sm-8">
        <input type="text" maxlength="40" class="form-control" name="nombre" id="nombre" required autofocus>
    </div>
    </div>
    <div class="mb-3 row">
        <label for="provincia" class="col-sm-5 col-form-label text-white">Provincia: </label>
    <div class="col-sm-8">
        <input type="text" maxlength="40" class="form-control" name="provincia" id="provincia" required>
    </div>
    </div>
    <div class="mb-3 row">
        <label for="plan" class="col-sm-5 col-form-label text-white">Plan: </label>
    <div class="col-sm-8">
        <input type="text" maxlength="40" class="form-control" name="plan" id="plan" required>
    </div>
    <br>
    <hr>
    <br>
    <div class="mb-3">
        <input type="submit" class="button btn btn-success p-3" value="Enviar datos">
    </div>

    <div class="text-center">
        <h2 class="text-danger">
            {{ validacion }}
        </h2>
    </div>
</form>

    </div>
</div>

<div class="container">       
    <div class="text-center m-5 text-white">
        <hr>
        <hr>
        <h2>
            Registro
        </h2>
        <hr>
        <hr>
    <table class="table text-white">
        <thead>
            <th>Nombre</th>
            <th>Provincia</th>
            <th>Plan</th>
        </thead>
        <tbody>
            {{#each results }}
            <tr>
                <td>{{ nombre }}</td>
                <td>{{ provincia }}</td>
                <td>{{ plan }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>  
</div>
</body>